/* create new class-name in order to create a border around the Cards, by picking up the color of the chosen badge in Bootstrap => now I have to insert that style in Cards.js in the div which is responsible for the Cards  */
.cards {
  border: 2px solid rgb(13, 110, 253);
  border-radius: 10px;
  font-family: "Ubuntu";
}

/* .popup{
  height:500 px;
  width: 40%;
  background-color:green;
  top:25%;
  right: 25%;
} */

popup-header {
  display: flex;
  justify-content: space-around;
  padding: 0 15px 0 15 px;
}

/* .button {
  border: 2px solid rgb(13, 110, 253);
  border-radius: 10px;
  font-family: "Ubuntu";
} */

/* .cards {
  text-align: center;
}

.popup{
  height: 200px;
  width: 50%;
  background-color: mediumslateblue;
  position:absolute;
  top:25%;
  right: 25%;
}

.popup-header{
  display: flex;
  justify-content:space-between ;
  padding: 0 30px 0 15px;
  border-bottom: 2px solid blue;
} */

/* .content {
  padding: 10px;
} */

.img {
  /* because this is the border for the image inside the card, I use the borders top left and top right, bottom left and bottom right should not have an radius
   I can also use instead a variable  "$radius:10px;"=> teh I put instead the pixels in .img the variable */
  border-radius: 10px 10px 0 0;
}

.badge {
  top: 10px;
  right: 20px;
  font-size: 17px;
  font-family: "Ubuntu";
}

/* FLIP CARDS */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flipCard {
  background-color: transparent;
  width: 300px;
  height: 500px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipCardFront {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flipCardBack {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
